/* .die1 {
    background-image: url('../../images/Dice/Dice-1.png')
}

.die2{
background-image: url('../../images/Dice/Dice-2.png')
}

.die3{
background-image: url('../../images/Dice/Dice-3.png')
}

.die4{
    background-image: url('../../images/Dice/Dice-4.png')
}

.die5{
    background-image: url('../../images/Dice/Dice-5.png')
}

.die6{
    background-image:url('../../images/Dice/Dice-6.png')
} */
