body {
  background-color: rgb(255, 242, 232);
}

.tableContainer {
  width: 100%;
}

.tableContainer th {
  color: white;
  background-color: rgb(126, 55, 0);
}

.tableContainer td {
  vertical-align: top;
  padding: 8px;
}

.tableDisplay {
  width: 100%;
}

.tableDisplay td {
  padding: 6px 0px 0px 10px;
  background-color: rgb(255, 253, 251);
}

.scrollText {
  overflow: auto;
  height: 250px;
}

.scrollTextJSON {
  overflow: auto;
  height: 280px;
}

.gameText {
  font-weight: bold;
  font-size: 12pt;
}

.tableContainer button {
  outline: none;
  color: white;
  background-color: rgb(126, 55, 0);
  padding: 8px;
  margin: 8px;
}
