.board-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3542;
  min-height: 95vh;
}

.board {
  width: 1025px;
  height: 875px;
  background-image: url('../../../public/images/GameBoard.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: perspective(800px) rotateX(30deg) translateY(-13%);
  box-shadow: 0px 50px 50px 10px rgba(0, 0, 0, 0.3);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.hexagon-container {
  position: relative;
}

.hexagon {
  position: relative;
  height: 192px;
  width: 164px;
  background-color: #eccc68;
  display: flex;
  flex-direction: column;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.inner-hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eccc68;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  z-index: 1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hover-hex {
  opacity: 0.5;
}

.inner-hexagon h1 {
  text-shadow: 2px 2px #2f3542;
  color: white;
  font-size: 40px;
}

.hexagon-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.desert {
  background-image: url('../../../public/images/resources/desert.png');
  background-repeat: no-repeat;
}
.field {
  background-image: url('../../../public/images/resources/field.png');
}
.forest {
  background-image: url('../../../public/images/resources/forest.png');
}
.hill {
  background-image: url('../../../public/images/resources/hill.png');
}
.mountain {
  background-image: url('../../../public/images/resources/mountain.png');
}
.pasture {
  background-image: url('../../../public/images/resources/pasture.png');
}

.knight {
  background-image: url('../../../public/images/devcards/knight.png');
}
.monopoly {
  background-image: url('../../../public/images/devcards/monopoly.png');
}
.plenty {
  background-image: url('../../../public/images/devcards/plenty.png');
}
.road {
  background-image: url('../../../public/images/devcards/road.png');
}
.vp {
  background-image: url('../../../public/images/devcards/vp.png');
}

.dev-card {
  width: 120px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.robber-hover {
  opacity: 1;
}

.robber,
.robber-hover:hover {
  background-image: url('../../../public/images/robber.png');
  background-size: cover;
  height: 100px;
  width: 50px;
  transform: rotateY(30deg) translateY(-25%);
}

.robber-hover:hover h1 {
  display: none;
}

.robber-hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

.resource-number {
  z-index: 5;
}

.row {
  flex: 1;
  display: flex;
}

.row-middle {
  flex: 2;
}

.side {
  flex: 1;
  background-color: #fad390;
}

.side-left {
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.side-right {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.city {
  height: 30px;
  width: 30px;
  position: absolute;
  background-color: #fad390;
  border-radius: 50%;
  z-index: 4;
}

.city-1 {
  top: 25%;
  transform: translate(-35%, -35%);
}

.city-2 {
  left: 50%;
  transform: translate(-50%, -50%);
}

.city-3 {
  top: 25%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.city-4 {
  top: 75%;
  transform: translate(-35%, -35%);
}

.city-5 {
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0%);
}

.city-6 {
  top: 75%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.settlement-hover {
  opacity: 1;
}

.settlement-hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.board-row {
  display: flex;
}

.game-modle {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -200%);
  width: 800px;
  height: 400px;
  border: 3px solid #ecf0f1;
  color: #ecf0f1;
  background-color: rgba(52, 73, 94, 0.9);
  border-radius: 10px;
  z-index: 10;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.game-modle-active {
  transform: translate(-50%, -50%);
}

.build-modal {
  flex-basis: auto;
  flex-grow: 15;
  display: flex;
  flex-direction: column;
}

.build-modal-button {
  flex-basis: auto;
  flex-grow: 1;
  margin: 5px;
  font-size: 20pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.build-modal-button-active:hover {
  outline: #ffb732 solid 6px;
}

.trade-modal {
  flex-basis: auto;
  flex-grow: 15;
  display: flex;
  flex-direction: column;
}

.trade-modal-container {
  flex-basis: auto;
  flex-grow: 1;
  margin: 5px;
  font-size: 20pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.trade-modal-button {
  outline: none;
}

.trade-modal-button-active {
  background-color: #ffb732;
}

.trade-modal-button:hover {
  outline: #ffb732 solid 6px;
}

.trade-resource {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.trade-table {
  width: 100%;
  height: 100%;
  text-shadow: 2px 2px #2f3542;
  color: white;
  font-size: 20px;
}

.trade-table td {
  vertical-align: middle;
  /* border: black solid 1px; */
}

.modal-resource {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.game-controller-container {
  bottom: 1%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  display: flex;
}

.game-controller {
  display: flex;
  border: 3px solid #ecf0f1;
  background-color: rgba(52, 73, 94, 0.5);
  border-radius: 10px;
  padding: 5px;
}

.section-resources {
  display: flex;
}

.resource-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #ecf0f1;
}

.resource {
  width: 45px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn {
  background-color: #fbc531;
  border: solid 1px black;
  color: #2f3542;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #e1b12c;
}

.player-info {
  color: white;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  letter-spacing: 1.2;
  margin-right: 3px;
  min-width: 115px;
}

.player-info p {
  margin: 0;
  padding: 0;
}

.player-container {
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* height: 50%; */
  width: 100%;
  padding: 10px;
}

.player {
  background-color: rgba(52, 73, 94, 0.8);
  border-radius: 10px;
  display: flex;
  z-index: 3;
}

.user {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  background-image: url('../../../public/images/user.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.score {
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}

.score p {
  margin: 0;
  padding: 0;
  letter-spacing: 1.2;
}

.player-1 {
  border: 3px solid var(--color-red);
}
.player-2 {
  border: 3px solid var(--color-green);
}
.player-3 {
  border: 3px solid var(--color-blue);
}
.player-4 {
  border: 3px solid var(--color-orange);
}

.active-1 {
  background-color: var(--color-red-transparent);
}
.active-2 {
  background-color: var(--color-green-transparent);
}
.active-3 {
  background-color: var(--color-blue-transparent);
}
.active-4 {
  background-color: var(--color-orange-transparent);
}

.cur-player {
  outline: 5px solid #ecf0f1;
}

.build-player-1:hover {
  background-color: var(--color-red);
}

.build-player-2:hover {
  background-color: var(--color-green);
}

.build-player-3:hover {
  background-color: var(--color-blue);
}

.build-player-4:hover {
  background-color: var(--color-orange);
}

.city-player-1 {
  outline: var(--color-red) solid 3px;
}

.city-player-2 {
  outline: var(--color-green) solid 3px;
}

.city-player-3 {
  outline: var(--color-blue) solid 3px;
}

.city-player-4 {
  outline: var(--color-orange) solid 3px;
}

.valid-city-1:hover {
  outline: var(--color-red) solid 3px;
}

.valid-city-2:hover {
  outline: var(--color-green) solid 3px;
}

.valid-city-3:hover {
  outline: var(--color-blue) solid 3px;
}

.valid-city-4:hover {
  outline: var(--color-orange) solid 3px;
}

.player-alert {
  font-size: 20pt;
  color: white;
  position: absolute;
  top: 120px;
  left: 200px;
  z-index: 2;
  overflow-wrap: normal;
  max-width: 250px;
  padding: 5px;
  line-height: 1.5em;
  font-family: 'Fantasy', 'Luminari', 'fantasy';
  text-align: center;
}

.player-alert-button {
  font-size: 20pt;
  color: black;
  background-color: lightgrey;
  position: absolute;
  top: 130px;
  right: 240px;
  z-index: 2;
  overflow-wrap: normal;
  max-width: 250px;
  padding: 5px;
  line-height: 1.5em;
  font-family: 'Fantasy', 'Luminari', 'fantasy';
  text-align: center;
  border-radius: 10px;
  border: maroon solid 4px;
}

.player-alert-button:hover {
  background-color: darkgrey;
}

.port {
  position: absolute;
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s;
}

.port.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}

.port.question h3 {
  margin: 0;
  padding: 0;
}

.port.question.one {
  top: 2%;
  left: 69%;
}

.port.question.two {
  top: 61%;
  left: 84%;
}

.port.question.three {
  top: 92%;
  left: 69%;
}

.port.question.four {
  top: 47%;
  left: 4%;
}

.port.mountain {
  top: 2%;
  left: 38%;
}

.port.hill {
  top: 92%;
  left: 40%;
}

.port.forest {
  top: 77%;
  left: 19%;
}

.port.pasture {
  top: 33%;
  left: 85%;
}

.port.field {
  top: 17%;
  left: 17%;
}

.port:hover {
  opacity: 1;
}
